body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #333;
}

h1 {
  font-size: 60px;
  font-weight: 800;
  text-align: center;
}

h2 {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  color: #CCC;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: #333;
}

.introduction {
  margin: 150px auto;
  width: 860px;
}

button {
  border: none;
  color: #FFF;
  background-color: #c93a3a;
  cursor: pointer;
}

.button {
  margin: 80px auto;
  width: 400px;
}

.button a {
  color: #FFF;
  text-decoration: none;
}

.begin-btn, .doc-btn {
  float: left;
  width: 170px;
}

.button .or {
  float: left;
  font-style: italic;
  margin-top: 10px;
  width: 60px;
  text-align: center;
  color: #CCC;
}

button .title {
  margin: 5px 0;
  font-size: 20px;
  text-align: center;
}

button .description {
  margin: 5px 0;
  font-size: 14px;
  text-align: center;
  color: #f6cbcb;
}

.doc {
  width: 700px;
  margin: 120px auto;
}

.doc h1 {
  text-align: left;
}

.doc h2 {
  text-align: left;
}

.doc h3 {
  margin-top: 50px;
  text-align: left;
  font-weight: 600;
}

.doc p {
  margin: 20px 0;
  color: #666;
  line-height: 1.5em;
  padding-left: 20px;
}

.doc .content {
  margin: 20px 0 20px 20px;
}

.doc table {
  color: #666;
  line-height: 1.5em;
  width: 100%;
}

.doc tr {
  border: 1px solid #ccc;
}

.doc thead tr {
  border: 1px solid #3f3f3f;
}

.doc tr:nth-child(odd) {
  background-color: #EEE;
}

.doc th,
.doc td {
  padding: 8px 20px;
}

.doc th {
  font-weight: 600;
  color: #dcdcdc;
  background-color: #3f3f3f;
}

.back a {
  color: #ccc;
  text-decoration: none;
}

hr {
  border: none;
  margin: 40px 0;
  border-bottom: 1px dashed #eee;
}

.doc pre {
  margin: 10px 0;
}

.doc code {
  margin-left: 20px;
  padding: 10px;
  border-radius: 5px;
  padding-left: 10px;
}

.doc code.inline {
  margin: 0;
  /* background-color: #3f3f3f; */
  border-bottom: 1px dotted #3f3f3f;
  border-radius: 0;
  color: #3f3f3f;
  padding: 3px 5px;
}

.doc .preface {
  padding-left: 0;
}
